<div class="modal-header bg-primary text-white">
  <h4 class="modal-title">{{ configDialog.title | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span class="text-white" aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{ configDialog.message | translate }}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="decline()">{{ configDialog.btnCancelLabel | translate }}</button>
  <button type="button" class="btn btn-primary" (click)="accept()">{{ configDialog.btnOkLabel | translate }}</button>
</div>