<app-app-parent-index [indexTitle]="title">
    <div index-action>
        <button (click)="onReload()" [disabled]="executingAction('onReload')" type="button" class="btn btn-primary">
            <i class="fas fa-sync"></i>
            {{ 'general.label_reload' | translate }}
        </button>
    </div>

    <div index-filter></div>

    <div index-body>

        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active"
                        id="analisis-tab" data-toggle="tab" href="#analisis" role="tab" aria-controls="analisis"
                        aria-selected="true">{{ 'wdproject.edit_label_analisis' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="wddata-tab"
                        data-toggle="tab" href="#wddata" role="tab" aria-controls="wddata"
                        aria-selected="false">{{ 'wdproject.edit_label_data' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="project-tab"
                        data-toggle="tab" href="#project" role="tab" aria-controls="project"
                        aria-selected="false">{{ 'wdproject.edit_label_project' | translate }}</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="analisis" role="tabpanel" aria-labelledby="analisis-tab">
                    <div class="row mt-3">
                        <div class="col-sm-6 col-md-6 col-lg-6"></div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="float-right">
                                <button (click)="onNoteSave()" [disabled]="executingAction('onNoteSave')" type="button"
                                    class="btn btn-primary">
                                    <i class="fas fa-save"></i>
                                    {{ 'general.label_save' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <ckeditor id="editor" #editor [editor]="Editor"></ckeditor>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="wddata" role="tabpanel" aria-labelledby="wddata-tab">

                    <div class="row mt-3">
                        <div class="col-sm-6 col-md-6 col-lg-6">

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fas fa-search"></i></span>
                                        </div>
                                        <input type="text" class="form-control" [(ngModel)]="filtersearch"
                                            placeholder="{{ 'general.label_search' | translate }}"
                                            aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="float-right">
                                <button (click)="wdDataOpenCreatModal(CreateWDDataModal)"
                                    [disabled]="executingAction('onWDDataAdd')" type="button" class="btn btn-primary">
                                    <i class="fas fa-plus-circle"></i>
                                    {{ 'general.label_add' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-md-12 col-lg-12">

                            <div *ngIf="showSection('wddata_empty')" class="row mt-3">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="text-center">
                                        <h4>{{ 'general.message_not_found_results' | translate }}</h4>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="showSection('wddata_results')" class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead class="thead-dark">
                                        <tr class="d-flex">
                                            <th class="col-3" scope="col">{{ 'general.label_name' | translate }}</th>
                                            <th class="col-8" scope="col">{{ 'general.label_value' | translate }}</th>
                                            <th class="col-1" scope="col">{{ 'general.label_actions' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="d-flex"
                                            *ngFor="let item of wdProjectEntity.wddata | searchgenericdata: filtersearch : 'name' ">
                                            <td class="col-3">
                                                <span>{{item.name}}</span>
                                            </td>
                                            <td class="col-8">
                                                <p *ngIf="!item.isHref">{{item.value}}</p>
                                                <div *ngIf="item.isHref">
                                                    <button (click)="openExternalLink(item.value)" type="button"
                                                        class="btn btn-link">{{item.value}}</button>
                                                </div>
                                            </td>
                                            <td class="col-1">
                                                <span *ngIf="item.url && item.url!=null"
                                                    (click)="openExternalLink(item.url)" class="item-action"><i
                                                        class="fas fa-external-link-square-alt fa-lg"
                                                        title="{{ 'wdproject.index_label_href' | translate }}"></i></span>
                                                <span *ngIf="!item.url || item.url==null"><i
                                                        class="fas fa-unlink fa-lg text-secondary"
                                                        title="{{ 'wdproject.index_label_unlink' | translate }}"></i></span>
                                                <span (click)="openConfirmationDialog(item._id,'DELETE_WDDATA')"
                                                    class="ml-4 item-action"><i class="fas fa-trash-alt fa-lg"
                                                        title="{{ 'general.label_remove' | translate }}"></i></span>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="project" role="tabpanel" aria-labelledby="project-tab">
                    <div class="row mt-3">
                        <div class="col-sm-6 col-md-6 col-lg-6"></div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="float-right">
                                <button (click)="onProjectSave()" type="button" class="btn btn-primary">
                                    <i class="fas fa-save"></i>
                                    {{ 'general.label_save' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <form [ngClass]="{'was-validated': wdProjectIsNotValidToUpdate==true}">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="name">{{ 'general.label_name' | translate }}</label>
                                    <input type="text" class="form-control" id="name" name="name" #name="ngModel"
                                        [(ngModel)]="wdProjectEntityToUpdate.name" required>
                                </div>
                                <div class="form-group">
                                    <label for="client">{{ 'general.label_client' | translate }}</label>
                                    <input type="text" class="form-control" id="client" name="client" #client="ngModel"
                                        [(ngModel)]="wdProjectEntityToUpdate.client">
                                </div>
                                <div class="form-group">
                                    <label for="href">{{ 'general.url' | translate }}</label>
                                    <input type="text" class="form-control" id="href" name="href" #href="ngModel"
                                        [(ngModel)]="wdProjectEntityToUpdate.href">
                                </div>
                                <div class="form-check">
                                    <input [checked]="wdProjectEntityToUpdate.status=='ACTIVE'" (change)="onCheckboxIsActiveProject($event)" type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">{{ 'wdproject.edit_label_active' | translate }}</label>
                                  </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</app-app-parent-index>

<ng-template #CreateWDDataModal let-modal>
    <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="modal-basic-title">{{ 'general.label_create' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="wdDataCloseCreateModel('CLOSE')">
            <span class="text-white" aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [ngClass]="{'was-validated': wdDataAddEntity.isNotValid==true}">
            <div class="form-group">
                <label class="font-weight-bold" for="name">{{ 'general.label_name' | translate }}</label>
                <input type="text" class="form-control" id="name" name="name" #name="ngModel"
                    [(ngModel)]="wdDataAddEntity.name" required>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="value">{{ 'general.label_value' | translate }}</label>
                <input type="text" class="form-control" id="value" name="value" #value="ngModel"
                    [(ngModel)]="wdDataAddEntity.value" required>
            </div>
            <div class="form-group">
                <label for="url">{{ 'general.url' | translate }}</label>
                <input type="text" class="form-control" id="url" name="url" #url="ngModel"
                    [(ngModel)]="wdDataAddEntity.url">
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" value="1" (change)="onCheckboxIsHref($event)" />
                    {{ 'wdproject.edit_label_is_href' | translate }}
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" value="2" (change)="onCheckboxEncode($event)" />
                    {{ 'general.label_encrypt' | translate }}
                </label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
            (click)="wdDataCloseCreateModel('CLOSE')">{{ 'general.label_cancel' | translate }}</button>
        <button type="button" class="btn btn-primary"
            (click)="wdDataCloseCreateModel('SAVE')">{{ 'general.label_save' | translate }}</button>
    </div>
</ng-template>